.login-container {
    width: 400px;
    padding: 30px 20px;
    margin: 50px auto 10px;
}
.logo-admin {
    font-size: 30px;
    color: #000;
    text-align: center;
}

.login-form {
    margin: 10px auto;
    width: 280px;
}
.login-form input,
.login-form button {
    width: 100%;
    padding: 6px 12px;
    box-shadow: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border: 1px solid #d5d5d5;
    border-radius: 2px;
}
.login-form input {
    margin: 0;
}
.login-form button {
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0;
}

.forget-pw {
    display:inline-block;
    *display:inline;
    *zoom:1;
    text-indent: 2px;
    padding-top: 10px;
    padding-bottom: 10px;
}